# Arquivos gerados pelo IDE
.idea/
*.iml
*.ipr
*.iws

# Arquivos compilados
target/
bin/
out/

# Arquivos de log
*.log

# Arquivos temporários
*~
.#*

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db

# Dependências geradas pelo Maven ou Gradle
# (Adicione outras pastas específicas do seu projeto, se necessário)
lib/
build/
